@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;

    background-color: #f9f9f9;

    font-family: 'Open Sans', sans-serif;
}

.fundo {
    background-color:whitesmoke;

    display: flex;
    flex-direction: column;

    align-self: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    width: 500px;
    height: 700px;
    border-radius: 10px;
}

.titulo {
    background-color: transparent;

    color: #E3B1AA;

    display: flex;
    justify-content: center;
}

.fundo form {
    background-color: transparent;
}

.itens {
    background-color: transparent;

    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-top: 10px;
}
.itens label {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 10px;
}

.itens input {
    width: 200px;
    height: 30px;

    font-size: 14px;

    margin-bottom: 10px;

    border-radius: 5px;
    border: none;
}

.lado-esquerdo {
    background-color: transparent;

    display: flex;
    flex-direction: column;
}

.lado-direito {
    background-color: transparent;

    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.botoes {
    background-color: transparent;

    display: flex;

    align-self: center;
    justify-content: center;

    margin-top: 5px;
}

.botoes input {
    width: 120px;
    height: 30px;

    background-color: #608642;
    color: whitesmoke;

    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.botoes #Enviar {
    background-color: #53723e;
}

.botoes #limpar {
    background-color: #9c4f3a;
    margin-left: 5px;
}

.botoes #limpar:hover {
    background-color: #a06352;
    cursor: pointer;
}

.botoes #Enviar:hover {
    background-color: #6a944d;
    cursor: pointer;
}
